
*{
  font-family: 16px arial,sans-serif;
  
}

input {
  border: 2px solid #4682B4;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
} 

button{
  border: none;
  background-color: #008CBA;
  color: white;
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.mandotry {
  color: red;
  font-size: 14px;
}

.error-msg{
  color: red;
  display: flex;
  align-items: left;
}